/* Turbo smirda, nes vietoj to kad patapšnotų CSS, jis tapšnoja savo 2-bit sound machines... */

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }
    a {
        color: yellow;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
    } 
    a {
        color: blue;
    }
}

* {
    font-family: monospace, monospace;
}

main {
    padding: 0 5vw;
    display: grid;
    grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}

main > * {
    grid-column: 2; 
}


.full {
    padding: 1vh 0;
    width: 100%;
    grid-column: 1 / 4;
}

footer {
    text-align: center;
}

img {
    margin: 0 auto;
    max-height: 500px;
}

@media only screen and (max-width : 600px) {
    img {
        padding: 1vh 0;
        margin: 0 auto;
        width: 100%;
    }
}